.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1.5s linear;
  height: 10vmin;
}

p+p {
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App-header {
  background-color: #333333;
  min-height: 11.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
